@import '_header-genesis';

/* Site Header
---------------------------------------------------------------------------- */

.site-header {
    background-color: white;
    &.home{
        background-color: transparent;
    }
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.top-bar {
    padding: 2rem;
    background-color: #2596be;

    p,
    a {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .flex {
        gap: 1rem;
    }

    .contain {
        gap: 8rem;
    }

}


#middle-bar {
    padding: 3rem 1rem;

    a {
        color: black;
        font-weight: 500; 
    }
    a:hover{
        font-weight: bold;
    }

    .logo {
        max-width: 15rem;
    }

    button {
        border: none;
    }

    .logo-header{
        .logo {
            max-width: 15rem;
            margin: auto;
        }
    
    }

    .nav{
        padding-top:20px;
    }
}

/* Max-width 960px
   ========================================================================== */
@media(max-width: 960px) {

    #top-bar p {
        font-size: 1rem;
    }

    #middle-bar {
        display: none;
    }
}

/* Max-width 540px
   ========================================================================== */
@media(max-width: 560px) {

    #top-bar .contain>div {
        display: none;
    }

}