
@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTProMedium.wolf') format('wolf'),
        url('fonts/AvenirLTProMedium.wolf2') format('wolf2');
    font-weight: 400;
    font-style: normal !important;
   
}