
@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTPro-Medium.woff') format('woff'),
        url('fonts/AvenirLTPro-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal !important;
   
}