@import '../abstracts/_variables.less';
@import '_fonts';
@import '_reset';
@import '_typography';
@import '_base-genesis';

/*layout*/
@import '../layout/_header.less';
@import '../layout/_footer.less';

/*components*/
@import '../components/_faq.less';
@import '../components/_barra-movil.less';

/*sections*/
@import '../sections/_contacto.less';
@import '../sections/_testimonios.less';
@import '../sections/_nosotros.less';
@import '../sections/_servicios.less';
@import '../sections/_a-domicilio.less';
@import '../sections/_ventajas.less';
@import '../sections/_atencion.less';
@import '../sections/_amamos-lo-que-hacemos.less';
@import '../sections/_productos.less';
@import '../sections/_recomendaciones.less';

html.sr .load-hidden {
    visibility: hidden;
}


/* Clases Generales
--------------------------------------------- */

.contain {
    margin: 0 auto;
    max-width: 125rem;
}

.padding {
    padding: 6rem 0;
}

.btn {
    color: white;
    margin-top: 3rem;
    padding: 1rem 3rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    text-transform: uppercase;
}

.flex {
    gap: 2rem;
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }

    &.center {
        justify-content: center;
    }

    &.justify {
        justify-content: space-between;
    }

    &.left {
        justify-content: flex-start;
    }

    &.right {
        justify-content: flex-end;
    }
}

.grid {
    gap: 2rem;
    display: grid;

    &.column2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.column3 {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Clases Personales
--------------------------------------------- */
.center {
    text-align: center;
}

.block {
    display: block
}

.no-mg {
    margin: 0;
}


/* Colores
--------------------------------------------- */


@import '_base-responsive';