@import '../abstracts/_variables.less';

// Define a base font size.
@px: 16rem;

// Width variables (appears count calculates by raw css)
@width1: 100%; // Appears 2 times
@width2: 3/@px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 100%; // Appears 3 times
@height2: 9/@px; // Appears 2 times

#faq {
    z-index: 400;
    position: relative;

    h2{
        color: #8a9dc3;
        text-align: center;
        font-weight: 500;
    }


    hr {
        width: 100%;
        height: 1px;
        background-color: #7b7a7a;
      }

      .top{
        border-top: 1px solid #7b7a7a;
        }

    ul {
        
        padding: 0 10%;
        margin: 2rem 0;
        perspective: 900;
        


        li {
            margin: 0;
            padding: 0;
            overflow: hidden;
            min-height: 6rem;
            position: relative;
            border-bottom: 1px solid #7b7a7a;
          


            &:last-of-type {
                padding-bottom: 0;
            }

            li {
                margin-top: 1.5rem;
            }

            i {
                right: 3rem;
                margin-top: 2.8rem;
                position: absolute;
                transform: translate(-1px, -5px);
                transform: rotate(-45deg);

                &:before {
                    
                    content: "";
                    
                    background-color: black;
                    height: 2px;
                    width: 15px;
                    position: absolute;
                    transform: translate(-2px, 0);
                    transform: rotate(45deg);
                }

                &:after {
                    height: 2px;
                    background-color: black;
                    content: "";
                    width: 15px;
                    position: absolute;
                    transform: translate(2px, 0);
                    transform: rotate(45deg);
                }
            }

            input[type=checkbox] {
                opacity: 0;
                z-index: 1;
                width: @width1;
                cursor: pointer;
                height: @height1;
                position: absolute;
                touch-action: manipulation;

                &:checked~h2 {
                    color: black;
                }

                &:checked~p {
                    max-height: 0;
                    opacity: 0;
                    transition: .3s;
                    padding: 0;
                    margin: 0;
                    display: flex;
                }

                &:checked~i {

                    &:before {
                        
                        transform: translate(-1px, 2px) rotate(45deg);
                    }

                    &:after {
                       
                        transform: translate(-1px, 2px) rotate(-45deg);
                    }
                }
            }
        }
    }

    h4 {
        margin: 0;
        color: #1b1d1d;
        display: block;
        cursor: pointer;
        text-align: left;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        transition: .2s;
        user-select: none;
        line-height: 3.4rem;
        padding: 15px 23px 0;
        text-transform: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

    p {
        contain: layout;
        hyphens: auto;
        line-height: 1.45;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
        max-height: 25.0rem;
        opacity: 1;
        overflow: hidden;
        padding: 0 50px 0 1.5rem;
        position: relative;
        text-align: left;
        transform: translate(0, 0);
        transition: .3s opacity, .6s max-height;
        will-change: max-height;
        z-index: 2;
    }

    .no-select {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        user-select: none;
    }
}

.transition {
    transition: all 0.3s;
}

/* Max-width 540px
   ========================================================================== */
   @media(max-width: 540px) {

    #faq ul{
        padding: 0;

    }
}