#recomendaciones{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/img/diagrama-fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 

    h2{
        text-align: center;
        color: #8a9dc3;
        font-weight: 500;
    }

    h1{
        text-align: center;
        color: black;
        font-weight: bold;
    }

    p{
        width: 100%;
        text-align: center !important;
        color:#7b7a7a;
        text-align: justify;
        margin-top: 15px;
        margin-bottom: 0;
         
    }

    .diagrama-recomendaciones{
        width: 100%;
        height: 700px;


        .image-centro-recomendaciones{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
        }

        .div-imagen-diagrama{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            position: relative;
            top: 15%;   

            .item-veteridario{
                position: relative;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 15px;
                left: 21%;
                width: auto;
                top: 60%;
    
                .item-veterinario-image{
                    width: 100px;
                    height:auto;
                }
    
                .item-veterinario-texto  {
                    width: calc(100%- 100px);
                    text-align: center !important;
                    color:#7b7a7a;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
            }
    
            .item-vacuna{
                position: relative;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 15px;
                right: 45%;
                width: auto;
                top: 70%;
    
                .item-veterinario-image{
                    width: 100px;
                    height:auto;
                }
    
                .item-veterinario-texto  {
                    width: calc(100%- 100px);
                    text-align: center !important;
                    color:#7b7a7a;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
            }

            .item-desparasitar{ 
                position: relative;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 15px;
                left: 14%;
                width: auto;
                top: 100%;
    
                .item-veterinario-image{
                    width: 100px;
                    height:auto;
                }
    
                .item-veterinario-texto  {
                    width: calc(100%- 100px);
                    text-align: center !important;
                    color:#7b7a7a;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
            }

             .item-alimentar{
                position: relative;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 15px;
                right:33%;
                width: auto;
                top: 160%;
    
                .item-veterinario-image{
                    width: 100px;
                    height:auto;
                }
    
                .item-veterinario-texto  {
                    width: calc(100%- 100px);
                    text-align: center !important;
                    color:#7b7a7a;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
            }

            .item-actividad{ 
                position: relative;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 15px;
                left: 17%;
                width: auto;
                top: 180%;
    
                .item-veterinario-image{
                    width: 100px;
                    height:auto;
                }
    
                .item-veterinario-texto  {
                    width: calc(100%- 100px);
                    text-align: center !important;
                    color:#7b7a7a;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
            }

            .item-carino{
                position: relative;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 15px;
                right:50%;
                width: auto;
                top: 220%;
    
                .item-veterinario-image{
                    width: 100px;
                    height:auto;
                }
    
                .item-veterinario-texto  {
                    width: calc(100%- 100px);
                    text-align: center !important;
                    color:#7b7a7a;
                    text-align: justify;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
            }

        }

        
    }

}

/* Max-width 960px
   ========================================================================== */
   @media(max-width: 1114px) {
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-veteridario {
        left: 10%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-vacuna {
        right: 35%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-desparasitar {
        left: 0;
        top: 93%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-alimentar {
        right: 25%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-actividad {
        left: 7%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-carino {
        top: 205%;
    }

}



@media(max-width: 1000px) {
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-veteridario {
        left: -12%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-vacuna {
        left: -19%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-desparasitar {
        left: -10%;
        top:83%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-alimentar {
        right: 10%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-actividad {
        left: 14%;
        top:144%;
    }
    #recomendaciones .diagrama-recomendaciones .div-imagen-diagrama .item-carino {
        right: 38%;
    }

}